{% extends 'trading_app/base.html' %}

{% block title %}Bem-vindo{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">🤖 Bem-vindo ao Evolutium AI</h1>
        <p class="fs-4">Seu assistente de trading com Inteligência Artificial. Cadastre-se ou faça login para começar a otimizar seu portfólio simulado.</p>
        <a href="{% url 'trading_app:register' %}" class="btn btn-primary btn-lg">Comece Agora</a>
    </div>
</div>
{% endblock %}